/* Estilos para el select */
select {
    background-color: rgb(11, 10, 10); /* Fondo del select */
    color: black; /* Color del texto */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para los option */
select option {
    color: black; /* Color del texto */
    background-color: white; /* Fondo del option */
}

/* Estilos para Select2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: black; /* Color del texto seleccionado */
    background-color: #e9ecef; /* Fondo de los elementos seleccionados */
}

.select2-container--default .select2-results__option {
    color: black; /* Color del texto en la lista desplegable */
    background-color: white; /* Fondo de los elementos en la lista desplegable */
}

.select2-container--default .select2-results__option--highlighted {
    color: rgb(17, 12, 12); /* Color del texto cuando se resalta */
    background-color: #007bff; /* Fondo cuando se resalta */
}