/* Estilo para centrar el contenido del modal */
.text-center {
    text-align: center;
}

/* Estilo para el contenido del modal */
.modal-content {
    display: inline-block;
    text-align: left; /* Alinea el texto a la izquierda dentro del bloque */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para los párrafos dentro del modal */
.modal-content p {
    margin: 10px 0; /* Espaciado entre cada campo */
    font-size: 16px;
    line-height: 1.5;
}

/* Estilo para los textos en negrita */
.modal-content strong {
    color: #333;
}