/* Estilos para el select */
select {
    background-color: rgb(240, 234, 234); /* Fondo del select */
    color: black; /* Color del texto */
    padding: 5px;
    border: 1px solid #0cde4b;
    border-radius: 4px;
}

/* Estilos para los option */
select option {
    color: black; /* Color del texto */
    background-color: rgb(237, 241, 238); /* Fondo del option */
}

/* Estilos para Select2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #d8d2d6; /* Fondo de los elementos seleccionados */
    border-color: #5f5b5b; /* Borde de los elementos seleccionados */
    color: rgb(100, 95, 95); /* Color del texto seleccionado */
}

.select2-container--default .select2-results__option {
    color: black; /* Color del texto en la lista desplegable */
    background-color: white; /* Fondo de los elementos en la lista desplegable */
}

.select2-container--default .select2-results__option--highlighted {
    color: rgb(17, 12, 12); /* Color del texto cuando se resalta */
    background-color: #007bff; /* Fondo cuando se resalta */
}

.select-container {
    max-height: 110px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.select-container select {
    height: auto; /* Permite que el select se ajuste a su contenido */
}

/* Estilo para mensajes de error */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}
