/* Estilos para mensajes de error */
.error-message {
    color: #ff4444;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

/* Estilos para el enlace de cambiar contraseña */
.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.register-link a {
    color: #ff7b00;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: #ffdd1e;
    text-decoration: underline;
}

.submit-button {
    padding: 5px 10px; /* Ajusta el tamaño del botón */
    font-size: 14px; /* Cambia el tamaño de la fuente */
    border-radius: 4px; /* Bordes redondeados si lo deseas */
    background-color: #28a745; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave */
}

.submit-button:hover {
    background-color: #218838; /* Color de fondo al pasar el mouse */
}
