/* Estilos para el contenedor principal */
.add-worker-container {
    padding: 20px;
    background-color: #00e09d, #00e3eb; /* Verde oscuro por defecto */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.add-worker-container h2 {
    text-align: center;
    color: #00e09d; 
    margin-bottom: 20px;
}

/* Estilos para las filas del formulario */
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* Estilos para los grupos de formulario */
.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #00e3eb; 
    outline: none;
}

/* Estilos para los botones de acción */
.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* Estilos para el botón de guardar cambios */
.submit-button {
    background-color:  #009196; /* Verde oscuro por defecto */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
    background-color: #1cf7ff; /* Verde más claro al pasar el mouse */
    transform: translateY(-2px); /* Efecto de levitación */
}

/* Tema claro */
[data-theme="light"] .submit-button {
    background-color: #00b87a; /* Verde claro para tema claro */
}

[data-theme="light"] .submit-button:hover {
    background-color: #008b1e; /* Verde más intenso al pasar el mouse en tema claro */
}

[data-theme="light"] .add-worker-container {
    background-color: #00e09d; /* Verde más claro para tema claro */
}

/* Tema oscuro */
[data-theme="dark"] .submit-button {
    background-color: #006b1a; /* Verde oscuro para tema oscuro */
}

[data-theme="dark"] .submit-button:hover {
    background-color: #004d12; /* Verde más oscuro al pasar el mouse en tema oscuro */
}

[data-theme="dark"] .add-worker-container {
    background-color: #006b1a; /* Verde oscuro para tema oscuro */
}

.cancel-button {
    background-color: #c50000; /* Gris */
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cancel-button:hover {
    background-color: #ff5050; /* Gris más claro al pasar el mouse */
    transform: translateY(-2px); /* Efecto de levitación */
}
